
# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/


# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Census Key
YOUR-API-KEY-HERE = 3c9e13d499f9ed0c1d8f1c848dd6919fc443afad
